.primary-overlay {
    background: rgba(112, 81, 176, .7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-header {
    background: url(../img/background.jpg);
    background-size: cover;
    background-position: center;
    min-height: 600px;
    color: #fff;
}

.main-header.inner {
    min-height: 350px;
}

.main-header .showcase {
    padding-top: 50px;
}

.active-link a,
.current_page_item a {
    color: #d847f1;
    /* font-weight: bold; */
}

.section-developers {
    position: relative;
    background: url(../img/code.jpg);
    background-size: cover;
    background-position: center;
    border-top: #333 solid 5px;
    border-bottom: #333 solid 5px;
    min-height: 180px;
}

.section-podcast {
    position: relative;
    background: url(../img/circuit.jpg);
    background-size: cover;
    background-position: center;
    border-top: #333 solid 5px;
    border-bottom: #333 solid 5px;
    min-height: 180px;
}

.section-podcast .primary-overlay {
    background: rgba(112, 81, 176, .9);
}

.section-podcast a {
    margin-top: 1.52rem;
}

.section-testimonial .carousel-item p {
    font-size: 20px !important;
}

.section-testimonial .indicators .indicator-item {
    background-color:rgba(156, 39, 176, .6);
}

.section-testimonial .indicators .indicator-item.active {
    background-color:rgba(156, 39, 176, 1);
}

.tabs .indicator {
    background-color: #6a1b9a !important;
}

.btn-extend {
    display: block;
    width: 100%;
}

@media(max-width: 500px) {
    .section-developers,
    .section-podcast {
        min-height: 240px;
    }
}